/* Стили для информационной панели */
.info-panel {
	display: flex;
	background-color: rgba(35, 163, 112, 0.773);
	color: white;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	align-items: flex-end;
}

/* Стили для панели меню */
.navigation {
	white-space: nowrap;
	margin-bottom: 10px;
	margin-top: 5px;
}

.navigation {
	padding-left: 15px;
}

.navigation li {
	display: inline-block;
}

.nav-button {
	font-weight: 600;
	background-color: #34b5e0;
	border-radius: 20px;
	color: #000;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-button:hover {
	background-color: #38d599;
	animation: button-hover 0.2s ease-out forwards;
}

.nav-button:active {
	animation: button-active 0.1s ease-in-out forwards;
}

@keyframes button-hover {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-2px);
	}
}

@keyframes button-active {
	from {
		transform: translateY(-2px);
	}

	to {
		transform: translateY(2px);
	}
}

/* Стили для основного содержимого страницы */
.main-content {
	font-size: 18px;
}

/* Стили для футера */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: #00890099;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer h4 {
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}



/* Стили для таблицы */

table {
	width: 90%;
	/* ширина таблицы на 100% от ширины родительского элемента */
	border-collapse: collapse;
	/* схлопывание границ таблицы в одну */
	margin-bottom: 10px;
	/* отступ снизу */
}

th {
	background-color: #a7a1a1;
	/* цвет фона для заголовков таблицы */
	font-weight: bold;
	/* жирный шрифт для заголовков таблицы */
}

td,
th {
	padding: 5px;
	/* отступы внутри ячеек таблицы */
	text-align: center;
	/* выравнивание текста по центру */
	border: 1px solid #ccc;
	/* границы ячеек таблицы */
}





/* Стили для модального окна ===========================================================*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	height: 60%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Стили для кнопки модального окна ===============================================================*/
.convert-button {
	background-color: #4caf93;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

.convert-button:hover {
	background-color: #3e8e41;
	/* меняем цвет при наведении */
}

.convert-button:active {
	background-color: #4CAF50;
	/* возвращаем цвет при нажатии */
	transform: translateY(4px);
}

/* Стили для поля вывода================================================================== */
#output-field {
	font-size: 18px;
	margin-top: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.convert-button-menu {
	float: right;
	margin-right: 30px;
}

.button-logout {
	float: right;
	margin-right: 23px;

}

.button-logout {
	padding-bottom: 5px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	border-radius: 4px;
	margin-left: auto;
}

.button-logout:hover {
	background-color: #060a06;
	color: #f8f8f8;
}



/*Дизайн кнопок логина и регистрации --------------------------------------------------------------------------*/
.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.buttons-log_reg {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.buttons-log_reg a {
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	margin: 0 8px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #1E90FF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
}

.buttons-log_reg a:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.buttons-log_reg a:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Дизайн формы Логина================================================================*/
.login-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.login-content div {
	width: 300px;
}

h1 {
	font-size: 28px;
	text-align: center;
	margin-bottom: 24px;
	padding-right: 30px;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 24px;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 300px;
	padding-left: 20px;
}

.button-login-main {
	text-align: center;
	margin-bottom: 10px;
}

.button-login-main input {
	width: 300px;
}

.login-content label {
	display: inline-block;
	margin-bottom: 8px;
	font-weight: 600;
}

.login-content input[type="text"],
.login-content input[type="password"] {
	display: block;
	width: 90%;
	padding: 12px;
	border-radius: 4px;
	border: none;
	margin-bottom: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	text-align: left;
}

.login-content input[type="submit"] {
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	margin-top: 16px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #1E90FF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
}

.login-content input[type="submit"]:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.login-content input[type="submit"]:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-Registration-2 {
	text-align: center;
}

.button-Registration-2 a {
	display: inline-block;
	padding: 2px 4px;
	font-size: 16px;
	border-radius: 10px;
	text-decoration: none;
	text-transform: lowercase;
	color: #000000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.642);
	transition: all 0.2s ease-in-out;
	font-weight: 600;
	margin-top: 15px;
}

.button-Registration-2 a:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button-Registration-2 a:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-login-2 {
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	margin-top: 16px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #1E90FF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
}

.button-login-2:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button-login-2:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Стили для страницы лидов ===================================================================================*/
/* Стили для Leads.html */
.input-leads {
	white-space: nowrap;
}

#add-leads-table input[type="text"] {
	display: inline-block;
	width: 140px;
	margin-right: 10px;
}

/*Кнопка добавить------------------------------------*/
#add-leads-table input[type="submit"] {
	display: inline-block;
	padding: 6px 35px;
	border-radius: 4px;
	margin: 5px;
	font-size: 10px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #005ab5;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#add-leads-table input[type="submit"]:hover {
	background-color: #007FFF;
}

#add-leads-table input[type="submit"]:active {
	background-color: #003366;
}

.button-delete-lead-th {
	padding: 0px;
	width: 20px;
	white-space: nowrap;
}

.button-delete-lead-company {
	width: 100px;
	height: 20px;
	border-radius: 1px;
	font-size: 12px;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.button-delete-lead {
	width: 45px;
	height: 20px;
	border-radius: 1px;
	font-size: 10px;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.button-delete-lead-company:hover {
	background-color: #ff0000;
	color: white;
}

.button-delete-lead-company:active {
	background-color: #000000;
	color: white;
}

.button-delete-lead:hover {
	background-color: #ff0000;
	color: white;
}

.button-delete-lead:active {
	background-color: #000000;
	color: white;
}

/*--------------------------------------------------------------------------------*/
/* Стили для таблицы */
#my-table {
	border-collapse: collapse;
	width: 100%;
}

/* Стили для заголовка таблицы */
#my-table th {
	background-color: #008CBA;
	/* цвет фона - голубой */
	color: white;
	/* цвет текста - белый */
	font-weight: bold;
	padding: 2px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}

/* Стили для ячеек в теле таблицы */
#my-table td {
	border-bottom: 1px solid #ddd;
	padding: 1px;
	padding-left: 10px;
	text-align: left;
	font-size: 12px;
	vertical-align: top;
	/* цвет фона - белый */
}

/* убираем стили ссылок в ячейках таблицы */
table td a {
	text-decoration: none;
	color: inherit;
}

/* добавляем анимацию при наведении на ячейки таблицы */
table td a:hover {
	background-color: #d1d1d1;
	transition: background-color 0.2s ease;
}

/*Стили для страницы PRICING=========================================================================*/
/* Зона дополнительных настроек склада - проект, температурный режим*/

.warehouse-setting {
	display: flex;
	flex-direction: row;
	padding: 2px;
	background-color: rgb(181, 222, 239);
	border: 1px solid #d2deff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #a9a6a6;
	margin-bottom: 5px;
}

.warehouse-setting select {
	padding: 2px;
	border: 2px solid #ccc;
	border-radius: 4px;
	max-width: 200px;
	margin-right: 10px;
}

.temperature-radio {
	padding: 5px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.temperature-radio label {
	padding-top: 5px;
}

.temperature-radio ul {
	margin: initial;
}


/* Вертикальная линия */
.vertical-line::before {
	content: "";
	display: block;
	height: 100%;
	border-left: 2px solid rgb(186, 179, 179);
}

.vertical-line2::before {
	content: "";
	display: block;
	height: 100%;
	border-left: 2px solid rgb(186, 179, 179);
}

hr {
	margin: 0;

}

.output-forms-pricing-page hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.value-settings {
	margin-right: 20px;
	margin-left: 5px;
}


/* Стили для основного контейнера страницы */
.global-div-pricing-page,
.div-percent-input-output {
	display: flex;
}

/* Стили для левой колонки - форм ввода */

.input-forms-pricing-page,
.div-precent-input {
	width: 45%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
}

#form-precent-cost {
	display: flex !important;
	padding: 5px;
	flex-direction: row;
	justify-content: space-around
}

.title-m {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

.title-m div {
	text-align: center;
}

.title-c div {
	margin-top: 5px;
}

#form-precent-cost .button-accept-precent {
	display: flex;
	align-items: center;
}

#form-precent-cost .button-accept-precent button {
	padding: 8px;
	font-size: 14px;
}

#form-precent-cost input {
	width: 40px;
}

#form-precent-cost label {
	display: inline-block;
	width: 80px;
}


.title-final-cost {
	display: block;
	text-align: center;
	background-color: #dbdee1;
}

.percent-w-f-o {
	display: flex;
}


/* Стили для правой колонки - вывода результатов */
.output-forms-pricing-page,
.output-cost {
	width: 55%;
}

.output-cost hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Стили для форм ввода */
.form-inpute-dimension,
.form-inpute-pricing,
.form-inpute-option {
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.div-precent-input {
	font-family: Arial, Helvetica, sans-serif;
}

.form-inpute-dimension input,
.form-inpute-pricing input,
.form-inpute-option input {
	width: 60px;
	margin-right: 5px;
	margin-left: 5px;
}

.form-inpute-dimension label,
.form-inpute-pricing label,
.form-inpute-option label {
	display: inline-block;
	width: 90px;
	text-align: right;
}

.main-title {
	display: flex;
	margin-bottom: 2px;
}


/* Стили для кнопок "применить" */
.button-accept {
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #113ec7;
	cursor: pointer;
	transition: all 0.2s ease;
	margin-bottom: 2px;
	margin-right: 15px;
	margin-left: 15px;
	/* Добавляем анимацию для всех свойств */
}


.button-accept:hover {
	background-color: #30fdf3;
	color: #000000;
}

.button-accept:active {
	background-color: #1277fb;
	color: rgb(0, 0, 0);
}


/* Стили для вывода результатов */

.output-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 2px;
	padding-left: 10px;
}

.title {
	display: flex;
	flex-direction: column;
	width: 35%;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}

.title div {
	display: flex;
}


.title b {
	width: 120px;
	text-align: left;
	margin-right: 5px;
}

.title .title-dimension {
	width: 125px;
}

/*СТИЛИ ДЛЯ ФИНАЛЬНОГО ВЫВОДА СТОИМОСТЕЙ*/


.final-title {
	display: flex;
	width: 32%;
	margin: 5px;
	border-radius: 5px;
	padding: 2px;
	flex-direction: column;
	align-items: center;
	background-color: #31eab2;
	/* задаем цвет фона */
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	/* добавляем тень для создания объемного эффекта */
	transform: translate(-2px, -2px);
	/* сдвигаем блок немного вверх и влево */
}

.final-output-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 2px;
	padding-left: 10px;
}

.final-output-div div:nth-last-of-type(-n+2) {
	width: 15%;
}


/*Стиль для формы кнопок сохранить, обновить*/

.button-save-reload {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}

.form-buttons-save button {
	width: 200px;
	padding: 2px;
	margin: 5px;
	color: #000000;
	background-color: #0bf8a1;
	font-weight: bold;
}

.buttom-values-table-calc {
	background: white;
	border: none;
}

.setting_info_calc {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

/*Стили для модального окна комментариев*/

#myModalCalc.modalCalc {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.263);
}

#myModalCalc .modal-content-Calc {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #000000;
	width: 40%;
}

#myModalCalc .closeCalc {
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#myModalCalc label {
	display: block;
	margin-bottom: 10px;
}

#myModalCalc input[type="text"],
#myModalCalc textarea {
	width: 70%;
	padding: 10px;
	border: 1px solid #ccc;
	resize: vertical;
}

#myModalCalc textarea {
	min-height: 250px;
}

.lead-task-list {
	list-style: none;
	padding: 0;
}

.lead-task-list li {
	counter-increment: step-counter;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.lead-task-list li::before {
	content: counter(step-counter);
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	width: 20px;
}

.lead-task-list textarea {
	width: 100%;
	padding: 5px;
}


/*Стили для блока в pricing добавления коментариев к истории общения с лидом*/


.setting-lead-comments {
	display: flex;
	margin-bottom: 5px;
	width: 300px;
	justify-content: flex-start;
}

.description-button-accept {
	display: flex;
	margin-bottom: 5px;
	width: 300px;
	justify-content: flex-end;
	;
}

.description-button-accept div {
	margin-right: 20px;
}

.setting-lead-comments h4 {
	margin: 0;
}

.lead-communication {
	padding: 4px;
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.panel-buttons-save_file_desc {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between
}

.file-area {
	display: flex;
	width: 50%;
	flex-direction: row;
	height: 220px;
	justify-content: space-between;
}

.div-file-list {
	flex: 1;
	display: flex;
	padding: 5px;
	flex-direction: column;
}

.div-file-list div div {
	margin-top: 2px;
	padding: 2px;
	border: 1px solid #ccc;
}


.div-file-list div {
	height: 60px;
}

.file-list {
	display: flex;
	/* margin-top: 10px; */
	overflow: auto;
	max-height: 150px;
	max-width: 150px;
	list-style-type: none;
	padding-left: 0;
	flex-direction: row;
	flex-wrap: nowrap;
}


.file-list li {
	white-space: nowrap;
}

.file-list li:hover {
	cursor: pointer;
}

.file-list::-webkit-scrollbar {
	width: 0;
	/* Скрываем ширину скроллбара */
	background-color: transparent;
	/* Устанавливаем прозрачный фон скроллбара */
}

.comment-for-lead {
	display: flex;
	width: 40%;
	flex-direction: column;
	height: 200px;
	padding: 5px;
}

.comment-for-lead_text {
	padding: 10px;
	border: 2px solid #ccc;
	resize: none;
	height: 100%;
}

.current-lead-comment {
	width: 60%;
	padding: 4px;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	margin-right: 5px;
	margin-bottom: 15px;
}

.current-lead-event {
	width: 40%;
	padding: 4px;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	margin-right: 5px;
	margin-bottom: 15px;
}

.communication-history {
	max-height: 500px;
	/* Примерное ограничение по высоте */
	overflow-y: auto;
	/* Добавление скролла при превышении ограничения */
}

.comment-save_file {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.comment-save_file_title {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.comment-save_file div {
	margin-left: 10px;
}

.history-list {
	display: flex;
}

.load-save-file {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.load-layout-offer {
	display: flex;
	flex-wrap: nowrap;
}

.load-save-file div {
	max-height: 100px;
	overflow-y: auto;
}

.title-comments-description {
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.choose-file {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 300px;
}


.title-comments-description div h4 {
	margin: 0;
}

.button-deal-win {
	margin-left: auto;
}

.flash {
	margin-left: 4px;
}

.form-button-status {
	display: flex;
}

.button_sort_qualiti>button {
	width: 20px;
	height: 15px;
}

.button_sort_qualiti>button :hover {
	cursor: pointer;
}



/* Стили для инпута с именем lead_qualiti_1 */
.button_sort_qualiti :nth-child(3) {
	background-color: rgba(150, 233, 233, 0.971);

}

/* Стили для инпута с именем lead_qualiti_2 */
.button_sort_qualiti :nth-child(4) {
	background-color: rgba(119, 237, 92, 0.971);
}

/* Стили для инпута с именем lead_qualiti_3 */
.button_sort_qualiti :last-child {
	background-color: rgb(255, 255, 255);
}

.disabled {
	background-color: gray;
	opacity: 0.5;
	cursor: not-allowed;
}


.input-parametrs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	justify-content: space-around;
}

.form-advance-setting-input {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.input-field-disabled {
	cursor: not-allowed;
	/* Запретить указатель при наведении */
	opacity: 0.5;
	/* Установить прозрачность на 50% */
	color: #b6b1b1;
	/* Задать бледный цвет текста */
	pointer-events: none;
	/* Запретить события указателя (нельзя нажать или выбрать текст) */
	width: 20%;
}

/* Экран добавления финальных данных выигранного проекта */
.project-accept-add-main-field {
	padding: 2px;
	display: flex;
	/* Используем flex-контейнер для равномерного разделения пространства */
	flex-direction: column;
	border: 2px solid black;
}

.information {
	margin: 2px;
	display: flex;
	flex-direction: column;
}

.payment-terms {
	margin: 2px;
	display: flex;
	border: 1px solid black;

}

.information>div,
.payment-terms>div {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.final-information-project {
	border: 1px solid black;
}

.providers-and-stages,
.implementation,
.whayting-clients-paynting,
.fact-clients-paynting {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 100%;
}

.providers-and-stages > table,
.implementation > table,
.whayting-clients-paynting > table,
.fact-clients-paynting > table {
	width: 100%;
}

.implementation > div {
	margin: 5px;
	display: flex;
}

.providers-and-implementation,
.client-stages {
	display: flex;
	flex-direction: column;
	margin: 5px;
	margin-right: 10px;
}

.providers-and-implementation > h3 {
	margin: 0;
}

.output-comments {
    margin-top: 5px;
}

.area-comment {
	display: flex;
    justify-content: space-between;
}

.button-sort-style {
	border: none;
	background: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	color: inherit;
	/*text-decoration: underline; /* Добавьте подчеркивание, чтобы сделать кнопку похожей на обычный текст */
  }