{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block information %}
<div style="display: flex;">
  Информация:
  {% for msg in get_flashed_messages() %}
  <div class="flash">{{ msg }}</div>
  {% endfor %}
</div>
<a href="{{url_for('logout')}}" class="button-logout"> {{ current_user }} Logout </a>
{% endblock %}

{% block content %}
<!--Блок ввода нового лида-->
<form action="{{url_for('leads')}}" method="POST" id="add-leads-table" class="form-table-leads">
  <div class="input-leads">
    {% for l in title_table_leads[:5] %}
    <input type="{{ l.type }}" id="{{l.name}}" name="{{l.name}}" placeholder="{{l.placeholder}}" {% if l.name !='mail'
      %} required {% endif %}>
    {% endfor %}
    <input type="submit" name="button-add-lead" value="Добавить">
  </div>
</form>
<!------------------------------->

<form action="{{url_for('leads')}}" method="POST">
  <table id="my-table">
    <thead>
      <tr>
        <th class="button-delete-lead-th">
          <input type="submit" name="button-delete-lead" value="удалить" class="button-delete-lead">
        </th>
        <th>№</th>
        <th class="button_sort_qualiti">
          <input type="checkbox" name="filter" id="filter" value="True">
          <label for="filter">Компания</label>
          <button type="submit" name="lead_qualiti" value="1"></button>
          <button type="submit" name="lead_qualiti" value="2"></button>
          <button type="submit" name="lead_qualiti" value="3"></button>
  
        </th>
        {% for title_col in title_table_leads[1::] %}
        <th>{{ title_col.placeholder }}</th>
        {% endfor %}

      </tr>
    </thead>

    <!--Тело таблицы: перечень лидов--------------------------------------------------------->
    <tbody class="table-result">
      {% for row in get_new_lead %}
      <tr {% if row[10] == 1 %} style="background-color: rgba(150, 233, 233, 0.971);" {% endif %}
          {% if row[10] == 2 %} style="background-color: rgba(119, 237, 92, 0.971);" {% endif %}>
        <td><input type="checkbox" name="check-lead" id="check-lead" value="{{ row[0] }}"></td>
        <td><a href="{{ url_for('show_info_lead', alias=row[2] ) }}">{{ get_new_lead.index(row)+1 }}</a></td>
        {% for cell in row[2:8] %}
        {% if row[-4] %}
        {% set substrings = row[-4].split('$END_EVENT$') %}
        {% else %}
        {% set substrings = ['-------'] %}
        {% endif %}
        <td><a href="{{ url_for('show_info_lead', alias=row[2] ) }}" title="{{'Описание: \n'~row[-1]~'\n\nСледующий шаг:\n'~substrings[-1] }}">{{ cell }}</a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}