{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block information %} Рассчет стоимости БВЗ 
<a href="{{url_for('logout')}}" class="button-logout">{{ current_user.get_user_name() }} Logout </a>
{% endblock %}


{% block content %}


<!--++++++++++-   Выбор продукта, проекта +++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

{% block settings_product_project_temp %}
<form action="{{url_for('calculation_product', alias=product)}}" method="POST" id="form-setting">
  <div class="warehouse-setting">
   
      <div> <!---Выбор продукта-->
        <label for="product">Продукт</label>
        <select id="product" name="product" title="Выберете продукт, который требуется рассчитать" required>
         
          {% for p in choose_product %}
          <option value="{{p.product}}"> {{ p.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div> <!---Выбор проекта-->
        <label for="project">Проект</label>
        <select id="project" name="project" title="Выберете, для какого проекта делаем расчет" required>
          {% for p in choose_project %}
          <option value="{{p.project}}:-:{{p.lead}}" {% if p.selected %} selected {% endif %}> {{p.lead}} - {{p.project}} </option>
          {% endfor %}
        </select>
      </div>

    <button name="button-accept-settings" class="button-accept" value="block" id="apply-setting-button"> применить </button>
  </div>
</form>
{% endblock settings_product_project_temp %}

<form action="{{url_for('pricing')}}" method="POST">

    <table id="my-table">
        <b class="title-final-cost">АРХИВ РАСЧЕТОВ БВЗ</b>
        <tr>
            <th class="button-delete-lead-th">
                <input type="submit" name="button-delete-calc" value="удалить" class="button-delete-lead">
            </th>
            <th>№</th>
            {% for t in title_table_calc_BVZ[0:13] %}
            <th>
              <button name="button-sort" class="button-sort-style" value="{{ t.name }}"> {{ t.title }} </button>
            </th>
            {% endfor %}
            {% for t in title_table_calc_BVZ[13::] %}
            <th>{{ t.title }}</th>
            {% endfor %}
        </tr>

        <tbody class="table-result">
            {% for record in value_table_calc_BVZ %}
            <tr>
                <td><input type="checkbox" name="check-lead" id="check-lead" value="{{ record[0] }}"></td>
                <td>{{ value_table_calc_BVZ.index(record)+1 }}</td>
                {% for cell in record[2:-1:] %}
                <td>
                    <a href="{{ url_for('calculation_product', alias='BVZ', calc_ID=record[0]) }}"
                        title="{{ record[-1] }}">
                        {{ cell }}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}