{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block information %} This is my money {% endblock %}


{% block content %}
  <h1>{{menu[3].name}}</h1>
  <!-- Code to display lead information here -->
  <form action="{{ url_for('testpage') }}" method="post">
    <input type="text" name="input field">
    <button type="submit" name="button-test" value="check test"> TEST </button>
    <button type="submit" name="button-currency" value="check currency"> Курс валют </button>
    <output><p>{{ result|safe }}</p></output>
  </form>
{% endblock %}